<% if power_generators.count.eql?(0) %>
  <p class="alert">Nenhum resultado para a sua pesquisa foi encontrado.</p>
<% elsif power_generators.count.eql?(1) %>
  <div class="box card power_generator-card">
    <%= image_tag power_generators[0].image_url, class: 'power_generator-card__img' %>
    <div class="power_generator-card__body">
      <h2><%= link_to power_generators[0].name.upcase, power_generators[0] %></h2>
      <p class="power_generator-card__price"><%= number_to_currency(power_generators[0].price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
      <p><strong>Descrição: </strong><%= power_generators[0].description %></p>
    </div>
  </div>
<% else %>
  <% power_generators.each do |power_generator| %>
    <div class="box card power_generator-card">
      <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
      <div class="power_generator-card__body">
        <h2><%= link_to power_generator.name.upcase, power_generator %></h2>
        <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
        <p><strong>Descrição: </strong><%= power_generator.description %></p>
      </div>
    </div>
  <% end %>
<% end %>

