<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= render 'simple_search_form' %>

    <%= render 'advanced_search_form' %>
  </div>
  
  <div class="filters">
    <%= form_with(url: price_filter_path, method: :get) do %>
      <h5>Filtrar por:</h5>
      <ul>
        <li>
          <%= label_tag(:q, 'Valor máximo') %>
          <%= number_field_tag(:q, nil, step: 0.01, placeholder:'Ex: 40000.00') %>
          <%= submit_tag('Filtrar', id: 'price-btn-filter') %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="container" id="power-generator-partial">
    <%= render 'power_generators', power_generators: @power_generators %>
  </div>
</div>

<div class="filters">
  <%= form_with(url: price_filter_path, method: :get) do %>
    <h5>Filtrar por:</h5>
    <ul>
      <li>
        <%= label_tag(:q, 'Valor máximo') %>
        <%= number_field_tag(:q, nil, step: 0.01, placeholder:'Ex: 40000.00') %>
        <%= submit_tag('Filtrar', id: 'price-btn-filter') %>
      </li>
    </ul>
  <% end %>
</div>
